.listeItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    height: 100%;
}
.decoration {
    height: 40px;
}

.card-item {
    flex: 1 1 25%;
    border-radius: 15px;
}

.card-body {
    padding: 25px;
    border-radius: 15px;
    background-color: #1D204B;
    border: 1px solid #1D204B;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h2 {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

h3 {
    color: white;
    font-size: 35px;
    font-weight: 300;
}

h4 {
    color: #5746EA;
    font-weight: normal;
}
