h2 {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

h3 {
    color: white;
    font-size: 35px;
    font-weight: 300;
}

h4 {
    color: #5746EA;
    font-weight: normal;
}
